{% extends "main.html" %}

{% block content %}

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-container">

  <div>
    
    {% comment %} <h2>Room</h2>
    <p>ID: {{room.id}}</p> {% endcomment %}
    <h3>{{ room.name }}</h3>
    <p>{{ room.description }}</p>
    
    <div class="comment-wrapper">
      <h3>Conversation</h3>
      <hr>
      {% for message in room_messages %}
        <div>
          {% if message.user == request.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
          {% endif %}
          <small>@{{ message.user }} {{ message.created|timesince }} ago</small>
          <br>
          <p>{{ message.body }}</p>
          <hr>
        </div>
      {% empty %}
        <h3>No messages yet!</h3>
      {% endfor %}
    </div>
    
    {% if request.user.is_authenticated %}
      <div class="comment-form">
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="body" placeholder="Write your message here...">
        </form>
      </div>
    
    {% endif %}
  </div>

  <div>
    <h3>Participants</h3>
    <hr>
    {% for user in participants %}
      <p>@{{ user.username }}</p>
    {% empty %}
      <p>None yet :(</p>
    {% endfor %}
  </div>
</div>


{% endblock content %}